<!DOCTYPE html>

<html lang="en">

<head>

    <!-- HEAD PARTIAL -->
    <%- include('head-partial') %>

    <!-- TITLE -->
    <title>404</title>

    <!-- STYLES -->
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/errorPage.css">

</head>

<body>

    <!-- 404 ERROR -->
    <section>
        <h1>404</h1>
        <h2>This page cannot be found.</h2>
    </section>

</body>

</html>