<section>
    <form>
        <fieldset>
            <input type="checkbox" id="movie1" name="movie1" value="HarryPotter">
            <label for="movie1"><img src="images/Harrypotter.jpg"></label>
            <input type="checkbox" id="movie2" name="movie2" value="Avatar">
            <label for="movie2"><img src="images/Avatar.jpg"></label>
            <input type="checkbox" id="movie3" name="movie3" value="Mazerunner">
            <label for="movie3"><img src="images/Mazerunner.jpeg"></label>
        </fieldset>
        <input type="submit" value="Delete" class="mainbutton">

    </form>
</section>