<!-- MENU PARTIAL -->
<nav>
    <ul>
        <li><a href="/home/Larsvv"><img src="/uploads/images/logos_footer/home-gray.svg" alt="home"></a></li>
        <li><a href="/moviematcher/genre"><img src="/uploads/images/logos_footer/search-gray.svg" alt="search"></a></li>
        <li><a href="#"><img src="/uploads/images/logos_footer/chat-gray.svg" alt="chat"></a></li>
        <li>
            <a href="/profile"><img src="/uploads/images/logos_footer/profile-selected.svg" alt="profile"></a>
            <div class="selected"></div>
        </li>
    </ul>
</nav>