<!DOCTYPE html>

<html lang="en">

<head>

    <!-- HEAD PARTIAL -->
    <%- include('head-partial') %>

    <!-- TITLE -->
    <title>Genre</title>

    <!-- STYLES -->
    <link rel="stylesheet" href="/styles/movieMatcher.css">

</head>

<body>

    <!-- HEADER -->
    <header>
        <h1>Choose genre</h1>
    </header>

    <!-- NAV PARTIAL -->
    <%- include('menu-partial') %>

    <!-- 'MAIN' -->
    <section class="mainBody">

        <!-- VRAAG 1 -->
        <section class="explanationText">
            <h2>1/2 What genre are you in the <br> mood for right now?</h2>
        </section>

        <!-- FORM -->
        <section>
            <form method="POST" action="/moviematcher/submit?from=genre">
                <ul class="rowList">
                    <li><input type="checkbox" id="horror" name="genrePicker[]" value="Horror">
                        <label for="horror">Horror</label>
                    </li>
                    <li><input type="checkbox" id="romance" name="genrePicker[]" value="Romance" disabled>
                        <label for="romance">Romance</label>
                    </li>
                    <li><input type="checkbox" id="thriller" name="genrePicker[]" value="Thriller">
                        <label for="thriller">Thriller</label>
                    </li>
                    <li><input type="checkbox" id="comedy" name="genrePicker[]" value="Comedy" disabled>
                        <label for="comedy">Comedy</label>
                    </li>
                    <li><input type="checkbox" id="drama" name="genrePicker[]" value="Drama" disabled>
                        <label for="drama">Drama</label>
                    </li>
                    <li><input type="checkbox" id="kids" name="genrePicker[]" value="Kids" disabled>
                        <label for="kids">Kids</label>
                    </li>
                    <li><input type="checkbox" id="action" name="genrePicker[]" value="Action">
                        <label for="action">Action</label>
                    </li>
                    <li><input type="checkbox" id="anime" name="genrePicker[]" value="Anime" disabled>
                        <label for="anime">Anime</label>
                    </li>
                    <li><input type="checkbox" id="family" name="genrePicker[]" value="Family" disabled>
                        <label for="family">Family</label>
                    </li>
                    <li><input type="checkbox" id="sport" name="genrePicker[]" value="Sport">
                        <label for="sport">Sports</label>
                    </li>
                </ul>
                <section class="nextButton">
                    <button type="submit">Continue</button>
                </section>
            </form>
        </section>

    </section>
    
</body>

</html> 