<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/moviePage.css">
    <title>Movie Page</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="#"><img src="/uploads/images/logos_footer/home-selected.svg" alt="home"></a>
                    <div class="selected"></div>
                </li>
                <li><a href="#"><img src="/uploads/images/logos_footer/search-gray.svg" alt="search"></a></li>
                <li><a href="#"><img src="/uploads/images/logos_footer/chat-gray.svg" alt="chat"></a></li>
                <li>
                    <a href="#"><img src="/uploads/images/logos_footer/profile-gray.svg" alt="profile"></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Title of the movie</h1>
            <img src="/uploads/images/moviePage/pijlwit.png" alt="opgeslagen films bekijken">
            <div class="lijn"></div>
        </section>
        <section>
            <img src="/uploads/images/films/cartoon/rick&morty.jpeg" alt="">
            <!-- Begin beoordelingssterren container -->
            <div class="beoordelingssterren" id="beoordelingsSterren">
                <input type="radio" name="beoordeling" id="bs0" checked><label for="bs0"></label>
                <input type="radio" name="beoordeling" id="bs1"><label for="bs1"></label>
                <input type="radio" name="beoordeling" id="bs2"><label for="bs2"></label>
                <input type="radio" name="beoordeling" id="bs3"><label for="bs3"></label>
                <input type="radio" name="beoordeling" id="bs4"><label for="bs4"></label>
                <input type="radio" name="beoordeling" id="bs5"><label for="bs5"></label>
                <!-- Beoordelingsaantal weergeven -->
                <span class="beoordelingsaantal"></span>
            </div>
            <h2>Description</h2>
            <div class="description">
                <p>Rick and Morty is een populaire animatieserie die de avonturen volgt van de cynische en alcoholische
                    wetenschapper Rick Sanchez en zijn naïeve en beïnvloedbare kleinzoon Morty Smith.</p>
                <a href="#" class="read-more">Lees meer</a>
                <p class="more-text">Samen reizen ze naar verschillende dimensies en alternatieve universums, waar ze
                    allerlei bizarre wezens en situaties tegenkomen. De serie staat bekend om zijn intelligente humor,
                    verwijzingen naar popcultuur en surrealistische verhalen, en zijn bereidheid om complexe
                    filosofische en wetenschappelijke concepten aan te pakken. Ondanks zijn gekke uiterlijk verkent Rick
                    and Morty vaak diepere thema's zoals familiedynamiek, existentialisme en de aard van de vrije wil.
                </p>
                <a href="#" class="read-less" style="display:none;">Lees minder</a>
                <div class="genre-buttons">
                    <button class="genre-button">Comedy</button>
                    <button class="genre-button">Science Fiction</button>
                </div>
            </div>
        </section>
        <section>
            <div class="custom-buttons">
                <a href="#" class="button play-movie">
                    <span>PLAY MOVIE</span>
                </a>
                <a href="#" class="button add-to-movies">
                    <img src="/uploads/images/home/stertransparant.png" alt="Ster opslaan">
                    <span>ADD TO 'MOVIES YOU LIKE'</span>
                </a>
            </div>

        </section>
    </main>
    <script src="/scripts/moviePage.js"></script>
</body>

</html>