<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/movieMatcher.css">
        <link rel="stylesheet" href="/styles/styles.css">
        <title>Movie Matcher</title>
    </head>
<body>
    <header>
        <h1>Movie Matcher Result</h1>
    </header>

    <nav>
        <ul>
            <li><a href="#"><img src="/uploads/images/logos_footer/home-gray.svg" alt="home"></a></li>
            <li><a href="#"><img src="/uploads/images/logos_footer/search-selected.svg" alt="search"></a>
                <div class="selected"></div>
            </li>
            <li><a href="#"><img src="/uploads/images/logos_footer/chat-gray.svg" alt="chat"></a></li>
            <li>
                <a href="#"><img src="/uploads/images/logos_footer/profile-gray.svg" alt="profile"></a>
            </li>
        </ul>
    </nav>

    <!-- Main body -->
    <section>
        <!-- Explanation text -->
        <section>
            <h2>Here are the top 4  results based on your choices:</h2>
        </section>

        <!-- List of movies -->
        <section>
            <ul class="film-list">
                <li class="film-item">
                    <img src="/public/uploads/images/films/sport/creed-ii-phone-wallpaper.jpeg" alt="Film 1"
                        class="film-image">
                    <figcaption class="film-info">
                        <h3 class="film-title">Film 1</h3>
                        <p class="film-release">Release date: 1 januari 2022</p>
                    </figcaption>
                </li>
                <li class="film-item">
                    <img src="/public/uploads/images/films/cartoon/rick&morty.jpeg" alt="Film 2" class="film-image">
                    <figcaption class="film-info">
                        <h3 class="film-title">Film 2</h3>
                        <p class="film-release">Release date: 15 maart 2022</p>
                    </figcaption>
                </li>
                <li class="film-item">
                    <img src="/public/uploads/images/films/Horror/the-meg-phone-wallpaper.jpeg" alt="Film 3"
                        class="film-image">
                    <figcaption class="film-info">
                        <h3 class="film-title">Film 3</h3>
                        <p class="film-release">Release date: 30 april 2022</p>
                    </figcaption>
                </li>
        </section>

        <!-- Home button -->
        <section>
            <button>Go back home</button>
        </section>
    </section>

    <footer></footer>
</body>
</html>
