<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/movieMatcher.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Movie Matcher</title>
</head>
<body>
    <header>
        <h1 class="headerH1">MovieMatcher</h1>
        <img src="/uploads/images/moviePage/pijlwit.png" alt="Terug knop">
</header>

    <nav>
        <ul>
            <li><a href="#"><img src="/uploads/images/logos_footer/home-gray.svg" alt="home"></a></li>
            <li><a href="#"><img src="/uploads/images/logos_footer/search-selected.svg" alt="search"></a>
                <div class="selected"></div>
            </li>
            <li><a href="#"><img src="/uploads/images/logos_footer/chat-gray.svg" alt="chat"></a></li>
            <li>
                <a href="#"><img src="/uploads/images/logos_footer/profile-gray.svg" alt="profile"></a>
            </li>
        </ul>
    </nav>

    <!-- Main body -->
    <section class="mainBody">
        <!-- Explanation text -->
        <section class="explanationText">
            <h2>3/3 Language preference:</h2>
        </section>

        <!-- Language selector -->
        <section>
            <form method="POST" action="/moviematcher/submit?from=language">
            <ul class="columnList">
            <li><input type="checkbox" id="english" name="languagePicker" value="English">
            <label for="english">English</label></li>

            <li><input type="checkbox" id="spanish" name="languagePicker" value="spanish">
            <label for="spanish">Spanish</label></li>

            <li><input type="checkbox" id="french" name="languagePicker" value="french">
            <label for="french">French</label></li>

            <li><input type="checkbox" id="german" name="languagePicker" value="german">
            <label for="german">German</label></li>

            <li><input type="checkbox" id="dutch" name="languagePicker" value="Dutch">
            <label for="dutch">Dutch</label></li>

            <li><input type="checkbox" id="swedish" name="languagePicker" value="swedish">
            <label for="swedish">Swedish</label></li>
            </ul>
        </section>

        <!-- Continue button -->
        <section class="nextButton">
            <button type="submit">Continue</button>
        </section>
    </form>
    </section>

    <footer></footer>
</body>
</html>
