<!DOCTYPE html>

<html lang="en">

<head>

    <!-- HEAD PARTIAL -->
    <%- include('head-partial') %>

    <!-- TITLE -->
    <title>Language</title>

    <!-- STYLES -->
    <link rel="stylesheet" href="/styles/movieMatcher.css">

</head>

<body>

    <!-- HEADER -->
    <header>
        <a href="/moviematcher/genre"><img class="lazy" src="/uploads/images/profilePage/go-back.svg" alt="go-back"></a>
        <h1>Choose Language</h1>
    </header>

    <!-- NAV PARTIAL -->
    <%- include('menu-partial') %>

    <!-- 'MAIN' -->
    <section class="mainBody">

        <!-- VRAAG 2 -->
        <section class="explanationText">
            <h2>2/2 Language preference:</h2>
        </section>

        <!-- FORM -->
        <section>
            <form method="POST" action="/moviematcher/submit?from=language">
                <ul class="columnList">
                <li><input type="checkbox" id="english" name="languagePicker" value="English">
                <label for="english">English</label></li>
                <li><input type="checkbox" id="spanish" name="languagePicker" value="spanish" disabled>
                <label for="spanish">Spanish</label></li>
                <li><input type="checkbox" id="french" name="languagePicker" value="french" disabled>
                <label for="french">French</label></li>
                <li><input type="checkbox" id="german" name="languagePicker" value="german" disabled>
                <label for="german">German</label></li>
                <li><input type="checkbox" id="dutch" name="languagePicker" value="Dutch">
                <label for="dutch">Dutch</label></li>
                <li><input type="checkbox" id="swedish" name="languagePicker" value="swedish" disabled>
                <label for="swedish">Swedish</label></li>
                </ul>
                <section class="nextButton">
                    <button type="submit">Continue</button>
                </section>
            </form>
        </section>

    </section>

</body>

</html>
