<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- HEAD PARTIAL -->
        <%- include('head-partial') %>

        <!-- TITLE -->
        <title>Results</title>

        <!-- STYLES -->
        <link rel="stylesheet" href="/static/styles/movieMatcher.css">

    </head>

<body>

    <!-- HEADER -->
    <header>
        <a href="/moviematcher/language"><img src="/uploads/images/profilePage/go-back.svg" alt="go-back"></a>
        <h1>Results</h1>
    </header>

    <!-- NAV PARTIAL -->
    <%- include('menu-partial') %>

    <!-- 'MAIN' -->
    <section class="mainBody">

        <!-- RESULTS TITLE -->
        <section class="explanationText">
            <h2>Here are the top 4  results based on your choices:</h2>
        </section>

        <!-- RESULTS -->
        <section class="scroll">
            <ul class="rowList">
                    <% movies.forEach(function(movies) { %>
                        <li>
                            <a href="/movie/<%= movies._id %>">
                            <div class="matchedMovie">
                                <img src="/uploads/images/films/<%= movies.Imgurl %>">
                            </div>
                            </a>
                        </li>
                    <% }); %>
            </ul>
        </section>

        <!-- SUBMIT BUTTON -->
        <section class="nextButton">
            <a href="/home/Larsvv">Go back home</a>
        </section>

    </section>

</body>

</html>
