<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Profile</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" media="screen" href="static/styles/styles.css">
    <link rel="stylesheet" type="text/css" media="screen" href="static/styles/profile.css">

</head>

<body>

    <header>
        <h1>Profile</h1>
    </header>

    <nav>
        <ul>
            <li><a href="#"><img src="public/img/home-gray.svg" alt="home"></a></li>
            <li><a href="#"><img src="public/img/search-gray.svg" alt="search"></a></li>
            <li><a href="#"><img src="public/img/chat-gray.svg" alt="chat"></a></li>
            <li>
                <a href="#"><img src="public/img/profile-selected.svg" alt="profile"></a>
                <div class="selected"></div>
            </li>
        </ul>
    </nav>

    <main>

        <section>
            <img src="public/img/profile-picture.jpg" alt="profile-picture">
            <a href="#">Edit Profile</a>
        </section>

        <section>
            <h2>Name</h2>
            <p>John Doe</p>

            <h2>Date of birth</h2>
            <p>01-01-2000</p>

            <h2>Email</h2>
            <p>johndoe@gmail.com</p>

            <h2>Phone number</h2>
            <p>+3112345678</p>

            <h2>Password</h2>
            <p>**************</p>
        </section>

    </main>

</body>

</html>