<head>
    <link href="/styles/styles.css" rel="stylesheet">
    <link href="/styles/register.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moviematch</title>
</head>


<body class="regIster">
    <img src="/uploads/images/icons/arrow.png" alt="log in">

    <h1>Create an account</h1>

    <form action="/submit" method="POST" class="form-container">
        <input id="name" name="Firstname" required type="text" placeholder="First Name*">
        <input id="name" name="Lastname" required type="text" placeholder="Last Name*">
        <input id="birthday" name="birthday" type="date" placeholder="Date of birth*">
        <input id="email" name="email" required type="email" placeholder="Email*">
        <input id="city " name="city" required type="city" placeholder="City*">


        <input id="password" name="password" type="password" placeholder="Password*">
        <input id="password2" name="password2" type="password" placeholder="Comfirm password*">
        <button type="submit">Sign up</button>
    </form>

    <p>Have an account?<a href="/signup">Sign in</a></p>
</body>

</html>