<!DOCTYPE html>

<html lang="en">

<head>

    <!-- HEAD PARTIAL -->
    <%- include('head-partial') %>

    <!-- TITLE -->
    <title>MovieMatch - Register</title>

    <!-- STYLES -->
    <link href="styles/register.css" rel="stylesheet">

</head>

    <!-- BODY -->
    <body>

        <header>
            <a href="/signup"><img class="lazy" src="/uploads/images/profilePage/go-back.svg" alt="go-back"></a>
            <h1>Create an account</h1>
        </header>

        <section class="regIster">
            <form action="/submit" method="POST" class="form-container">
                <label>Username *</label>
                <input id="username" name="Username" required type="text" placeholder="Fill in...">
                <label>First name *</label>
                <input id="name" name="Firstname" required type="text" placeholder="Fill in...">
                <label>Last name *</label>
                <input id="name" name="Lastname" required type="text" placeholder="Fill in...">
                <label>Phone number *</label>
                <input id="phone" name="Phonenumber" required type="number" placeholder="Fill in...">
                <label>Date of birth *</label>
                <input id="birthday" name="birthday" type="date" placeholder="Fill in...">
                <label>Email *</label>
                <input id="email" name="email" required type="email" placeholder="Fill in...">
                <label>City *</label>
                <input id="city " name="city" required type="city" placeholder="Fill in...">
                <label>Password *</label>
                <input id="password" name="password" type="password" placeholder="Fill in...">
                <label>Confirm password *</label>
                <input id="password2" name="password2" type="password" placeholder="Fill in..." maxlength="10">
                <button type="submit">Sign up</button>
                <p>Already have an account?<a href="/signup"> Sign in</a></p>
            </form>
        </section>

    </body>

</html>