<head>
    <link href="../static/styles/sigup.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moviematch</title>
</head>


<body class="regIster">
    <img src="./upload/Group 6.png" alt="log in">

    <h1>Create an account</h1>
    <img src="upload/Scherm_afbeelding 2023-02-17 om 09.49 1.png" alt="log in">
    <img src="./upload/Group 45.png" alt="log in">


    <form action="/submit" method="POST" class="form-container">
        <input id="name" required type="text" placeholder="Name*">
        <input id="birthday" type="date" placeholder="Date of birth*">
        <input id="e-mail" required type="email" placeholder="Email*">

        <input id="password" type="password" placeholder="Password*">
        <input id="comfirmPassword" type="password" placeholder="Comfirm password*">
        <button type="submit">Sign up</button>
    </form>

    <p>Don’t have an account yet?<a href="">Sign up</a></p>
</body>

</html>