/* *********************** */
/* styling sign in pagina  */
/* *********************** */
.signIn  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}


.signIn img {
    position: relative;
    width: 100%;
    height: auto;

}


.signIn h1,
p {
    position: relative;
    text-align: center;
    color: var(--text-color);
    font-family: 'Red Hat Display', sans-serif;
    
}


.signIn h1 {
    font-size: 2em;
    margin-bottom: 1em;
    margin-top: 20%;
}


.signIn p {
    font-size: .9em;
    padding: 1em;

    opacity: 0.6;
}




.signIn .logIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin-top: 5em;


}


.signIn input {
    background-color: var(--input-field-border);
    border-color: var(--border-color);
    border-radius: 0.4em var(--input-field-border);

    width: 20em;
    height: 3em;
    padding: 1em;
    margin: 1em;

    box-shadow: none;


}

.logIn input {
    margin-bottom: 10px;
    width: 90%;
    border-radius: 0.3em;
    color: var(--text-color);
}

.logIn input:focus  {
    background-color: #2f3170;;
}


.logIn input:nth-child(2){
    margin-bottom:5em;
}

.logIn button {
    background-color: var(--button-color);
    margin-top: .5em;
    margin: 1em;
    width: 90%;
    height: 3.5em;


    color: var(--text-color);
    box-shadow: none;
    border: none;
    outline: none;


    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
    font-size: 1em;
    border-radius: .3em;

    transition: border-color 0.5s ease;
}

.logIn button:hover {
    box-shadow: 0px 0px 15px 3px  #3c2177; 
    border: 2px solid #3c2177; /*deze later even aanpassen naar een andere kleur */
    
}


.logIn form > a {
    margin-top:3em;
    text-decoration: none;
    color: var(--text-color);
    opacity: 50%;

    text-align: center;
    

}


.signIn section p {
    margin-top: 25em;
}


.signIn section p > a {
    margin: 1em;
    text-decoration: none;
    font-weight: bold;
    color: #8d5ef3;

}

.signIn section p > a:hover {
    color:white;
}
