/*********/
/* FONTS */
/*********/

@font-face {
    font-family: 'Red Hat Display', sans-serif;
    src: url(../fonts/RedHatDisplay-Regular.woff);
}




/**************/
/* CSS RESET */
/**************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}




/*************/
/* STYLE.CSS */
/*************/

body {
    background-color: var(--background-color);
}

a, button {
    cursor: pointer;
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
    /* colors */
    --background-color: #1A1720; /* dit is de achtergrond kleur */
    --button-color:  #6337C1; /* deze kleur is voor de buttons */
    --border-color: #898989; /* dit is de kleur voor de borders */
    --text-color: #FFFFFF; /* dit is de tekst kleur */
    --secondary-text-color: #B3B3B3; /* dit is d tweede tekst kleur */
    --input-field-background-color: #0C0C0C; /* dit is de input fields background color */
    --menu-color: #0C0C0C; /* dit is de menu color */

    /* borders */
    --input-field-border: solid 0.4em var(--border-color); /* dit is de border voor input fields */
    --movie-border: solid 0.4em var(--border-color); /* dit is de border voor de movies */
    --menu-border: solid 0.1em var(--border-color); /* dit is de bordr voor het menu */
    --selected-border: solid 0.4em var(--button-color); /* dit is de border voor de geselecteerde elementen */
}




/* SECTION 1 */

h1 {
    text-align: center;
    margin-top:  65px;
    color: var(--text-color)
}

.lijn {
    height: 1px;
    background: #666666;
    margin-top: 22px;
}

section:nth-of-type(1) img {
    position: absolute;
    top: 62px;
    left: 30px;
    width: 8%;
}

/* SECTION 2 */

section:nth-of-type(2) img {
    width: 100%;
    height: 261px;
}

/* Containerstijl voor beoordelingssterren */
.beoordelingssterren {
	display: block;
	width: 50vmin;
	padding: 1.75vmin 10vmin 2vmin 3vmin;
	border-radius: 5vmin;
	position: relative;
    margin-left: 10px;
    margin-top: 27px;
}

/* Stijl voor het beoordelingsaantal */
.beoordelingsaantal {
	font-size: 5.5vmin;
	color: white;
	width: 10vmin;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	border-radius: 0 5vmin 5vmin 0;
	line-height: 10vmin;
}

/* Standaardinhoud voor het beoordelingsaantal */
.beoordelingsaantal:before {
	content: "0";
	transition: all 0.25s ease 0s;	
}

/* Verberg invoervelden */
input { display: none; }

/* Stijl voor sterlabels */
label {
	width: 5vmin;
	height: 5vmin;
	display: inline-flex;
	cursor: pointer;
	margin: 0.5vmin 0.65vmin;
	transition: all 1s ease 0s;	
	clip-path: polygon(50% 0%, 66% 32%, 100% 38%, 78% 64%, 83% 100%, 50% 83%, 17% 100%, 22% 64%, 0 38%, 34% 32%);
}

/* Verberg label voor bs0 */
label[for=bs0] {
	display: none;
}

/* Stijl voor de achtergrondkleur van de sterren */
label:before {
	width: 90%;
	height: 90%;
	content: "";
	background: orange;
	z-index: -1;
	display: block;
	margin-left: 5%;
	margin-top: 5%;
	clip-path: polygon(50% 0%, 66% 32%, 100% 38%, 78% 64%, 83% 100%, 50% 83%, 17% 100%, 22% 64%, 0 38%, 34% 32%);
	background: linear-gradient(90deg, yellow, orange 30% 50%, white 50%, 70%, white 100%);
	background-size: 205% 100%;
	background-position: 0 0;
}

/* Hover effect voor de sterren */
label:hover:before {
	transition: all 0.25s ease 0s;		
}

/* Verander de achtergrondpositie van de sterren wanneer deze zijn geselecteerd */
input:checked + label ~ label:before {
	background-position: 100% 0;
	transition: all 0.25s ease 0s;	
}

/* Verander de achtergrondpositie van de sterren bij hover wanneer deze zijn geselecteerd */
input:checked + label ~ label:hover:before {
	background-position: 0% 0;
}

/* Update het beoordelingsaantal wanneer een ster geselecteerd is */
#bs1:checked ~ .beoordelingsaantal:before {
	content: "1";
}

#bs2:checked ~ .beoordelingsaantal:before {
	content: "2";
}

#bs3:checked ~ .beoordelingsaantal:before {
	content: "3";
}

#bs4:checked ~ .beoordelingsaantal:before {
	content: "4";
}

#bs5:checked ~ .beoordelingsaantal:before {
	content: "5";
}

/* Verander de kleur van het beoordelingsaantal wanneer een ster geselecteerd is */
label + input:checked ~ .beoordelingsaantal:before {
	color: #ffab00 !important;
	transition: all 0.25s ease 0s;
}

/* Hover-effect voor beoordelingsaantal */
label:hover ~ .beoordelingsaantal:before {
	color: #9aacc6 !important;
	transition: all 0.5s ease 0s;	
	animation: pulse 1s ease 0s infinite;
}

/* Keyframes voor het pulse-effect */
@keyframes pulse {
	  50% { font-size: 6.25vmin; }
}

/* Update het beoordelingsaantal bij hover op sterlabels */
label[for=bs1]:hover ~ .beoordelingsaantal:before {
	content: "1" !important;
}

label[for=bs2]:hover ~ .beoordelingsaantal:before {
	content: "2" !important;
}

label[for=bs3]:hover ~ .beoordelingsaantal:before {
	content: "3" !important;
}

label[for=bs4]:hover ~ .beoordelingsaantal:before {
	content: "4" !important;
}

label[for=bs5]:hover ~ .beoordelingsaantal:before {
	content: "5" !important;
}

/* Verwijder animatie en behoud kleur bij hover op geselecteerde ster */
input:checked:hover ~ .beoordelingsaantal:before {
	animation: none !important;
	color: #ffab00 !important ;
}


/* BESCHRIJVING FILMS */

section:nth-of-type(2) p {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 24px;;
    color: white;
    line-height: 24px;
    font-weight: 100;
    overflow: auto;
    font-size: 16px;
}

section:nth-of-type(2) h2 {
    margin-left: 24px;
    margin-top: 24px;;
    font-size: 20px;
    color: white;
    font-weight: 100;
}

.read-more, .read-less { 
    display: block;
    margin-top: 1em;
    color: var(--button-color);
    font-weight: bolder;
    padding: 0.5em;
    border-radius: 5px;
    margin-left: 16px;
}

.more-text {
    display: none;
}

.show-less-btn {
    display: block;
    margin-top: 1em;
    text-align: center;
}


/* GENRE BUTTONS */

.genre-buttons {
    display: flex;
    justify-content: flex-start;
}

.genre-button {
    
    margin-top: 15px;
    margin-left: 24px;
    padding: 4px 8px;
    border: 1px solid #898989;
    background-color: transparent;
    color: #898989;
}
