/*********/
/* FONTS */
/*********/

@font-face {
    font-family: 'Red Hat Display', sans-serif;
    src: url(../fonts/RedHatDisplay-Regular.woff);
}




/**************/
/* CSS RESET */
/**************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}




/*************/
/* STYLE.CSS */
/*************/

body {
    background-color: var(--background-color);
}

a, button {
    cursor: pointer;
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
    /* colors */
    --background-color: #1A1720; /* dit is de achtergrond kleur */
    --button-color:  #6337C1; /* deze kleur is voor de buttons */
    --border-color: #898989; /* dit is de kleur voor de borders */
    --text-color: #FFFFFF; /* dit is de tekst kleur */
    --secondary-text-color: #B3B3B3; /* dit is d tweede tekst kleur */
    --input-field-background-color: #0C0C0C; /* dit is de input fields background color */
    --menu-color: #0C0C0C; /* dit is de menu color */

    /* borders */
    --input-field-border: solid 0.4em var(--border-color); /* dit is de border voor input fields */
    --movie-border: solid 0.4em var(--border-color); /* dit is de border voor de movies */
    --menu-border: solid 0.1em var(--border-color); /* dit is de bordr voor het menu */
    --selected-border: solid 0.4em var(--button-color); /* dit is de border voor de geselecteerde elementen */
}

/* ************* */
/* registreren  */
/* ************ */

.regIster body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.regIster h1 {
    font-size: 1.7em;
    color: var(--text-color);

    display: flex;
    align-items: center;
    justify-content: center;

}

.regIster img:nth-child(1){
    margin: 1em;
    transition: 0.3s;
}

.regIster img:nth-child(1):hover {
    transform: translateX(-5px);
    transition: transform 0.3s ease-in-out;
  }

.regIster img:nth-child(4) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;

    position:absolute;
    left: 7em;
    bottom: 29em;

    transition: transform 0.2s ease-in-out;
  }

  .regIster img:nth-child(4):hover {
    transform: scale(1.1);
  }

.regIster img:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4.5em;

    position: relative;
    left: 4.5em;
    top: -3em;
    
}




.regIster input {
    background-color: var(--input-field-border);
    border-color: .01em, var(--border-color);
    border-radius: var(--input-field-border);

    box-shadow: none;

    

    margin-top: .5em;
    margin: .7em;
    padding:.7em;

    
    width: 90%;
    height: 3.5em;

    font-size: 1em;
    border-radius: .3em;
    color: var(--text-color);

}


.regIster input[type="date"] {
    color: rgba(184, 182, 182, 0.5);
}


.regIster input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: #8d5ef3;
    padding: .5em;
    border-radius: 5em;

    
}



.regIster input:nth-of-type(4){
    margin-top: 4em;
}

.regIster button {
    background-color: var(--button-color);
    margin-top: .5em;
    margin: 1em;
    width: 90%;
    height: 3.5em;


    color: var(--text-color);
    box-shadow: none;


    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
    font-size: 1em;
    border-radius: .3em;

    border: none;
    outline: none;

    transition: border-color 0.5s ease;
}



.regIster button:hover {
    box-shadow: 0px 0px 15px 3px  #3c2177; 
    border: 2px solid #3c2177; /*deze later even aanpassen naar een andere kleur */
    
}

.regIster  p {
    font-size: .6em;
    margin-top: 5em;
    text-align: center;
    margin: 3em;

}

.regIster  p > a {
    margin: 1em;
    text-decoration: none;
    font-weight: bold;
    color: #8d5ef3;
    

}

.regIster p > a:hover {
    color:white;
}

.regIster input:focus  {
    background-color: #2f3170;;
}

