<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/styles/home.css">
    <title>MovieMatcher</title>
</head>

<body>
    <header>

    </header>
    <main>
        <section>
            <h1>MovieMatch</h1>
            <img src="/public/uploads/images/home/stertransparant.png" alt="opgeslagen films bekijken">
            <div class="lijn"></div>
        </section>
        <section>
            <!-- Zoekbalk -->
            <div class="zoek-box">
                <input class="zoek-invoer" type="text" placeholder="Zoek jouw film...">
                <button class="zoek-knop"><i class="fas fa-search"></i></button>
            </div>

            <!-- Welkom gebruiker -->
            <p><span>Welcome TEC1-D</span></p>
            <p><span>Pick a movie to watch...</span></p>

            <!-- Moviematch Button -->
            <a href="/views/layout/movieMatcher.ejs"><button class="moviematchbtn"><span>NO
                        INSPIRATION?</span><br><span>Try our movie matcher</span></button></a>
        </section>

        <!-- FILMS -->
        <section class="filminlijst">
            <h2>Movies you like</h2>
            <ul class="film-list">
                <li class="film-item">
                    <img src="/public/uploads/images/films/sport/creed-ii-phone-wallpaper.jpeg" alt="Film 1"
                        class="film-image">
                    <figcaption class="film-info">
                        <h3 class="film-title">Film 1</h3>
                        <p class="film-release">Release date: 1 januari 2022</p>
                    </figcaption>
                </li>
                <li class="film-item">
                    <img src="/public/uploads/images/films/cartoon/rick&morty.jpeg" alt="Film 2" class="film-image">
                    <figcaption class="film-info">
                        <h3 class="film-title">Film 2</h3>
                        <p class="film-release">Release date: 15 maart 2022</p>
                    </figcaption>
                </li>
                <li class="film-item">
                    <img src="/public/uploads/images/films/Horror/the-meg-phone-wallpaper.jpeg" alt="Film 3"
                        class="film-image">
                    <figcaption class="film-info">
                        <h3 class="film-title">Film 3</h3>
                        <p class="film-release">Release date: 30 april 2022</p>
                    </figcaption>
                </li>
                <li class="film-item">
                    <img src="/public/uploads/images/films/sport/southpaw-phone-wallpaper.jpeg" alt="Film 4"
                        class="film-image">
                    <figcaption class="film-info">
                        <h3 class="film-title">Film 4</h3>
                        <p class="film-release">Release date: 12 juli 2022</p>
                    </figcaption>
                </li>
                <li class="film-item">
                    <img src="/public/uploads/images/films/actie/avengers-endgame-phone-wallpaper.jpeg" alt="Film 5"
                        class="film-image">
                    <figcaption class="film-info">
                        <h3 class="film-title">Film 5</h3>
                        <p class="film-release">Release date: 21 september 2022</p>
                    </figcaption>
                </li>
                <li class="film-item">
                    <img src="/public/uploads/images/films/cartoon/frozen-phone-wallpaper.jpeg" alt="Film 6"
                        class="film-image">
                    <figcaption class="film-info">
                        <h3 class="film-title">Film 6</h3>
                        <p class="film-release">Release date: 5 november 2022</p>
                    </figcaption>
                </li>
            </ul>
        </section>
    </main>

</body>

</html>