<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Matcher</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Matcher</title>
</head>
<body>
    <header>
        <h1>Movie Matcher</h1>
    </header>

    <section>
        <section>
            <h2>What kind of decade should your movie come from?</h2>
        </section>

        <section>
            <input type="radio" id="2020-now" name="decadePicker" value="2020-now">
            <label for="2020-now">2020-now</label>

            <input type="radio" id="2010-2020" name="decadePicker" value="2010-2020">
            <label for="romance">Romance</label>

            <input type="radio" id="thriller" name="decadePicker" value="thriller">
            <label for="2010-2020">2010-2020</label>

            <input type="radio" id="2000-2010" name="decadePicker" value="2000-2010">
            <label for="2000-2010">2000-2010</label>

            <input type="radio" id="1990-2000" name="decadePicker" value="1990-2000">
            <label for="1990-2000">1990-2000</label>

            <input type="radio" id="1980-1990" name="decadePicker" value="1980-1990">
            <label for="1980-1990">1980-1990</label>

            <input type="radio" id="1970-1980" name="decadePicker" value="1970-1980">
            <label for="1970-1980">1970-1980</label>
        </section>

        <section>
            <button>Continue</button>
        </section>
    </section>

    <footer></footer>
</body>
</html>
</body>
</html>