<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Matcher</title>
</head>
<body>
    <header>
        <h1>Movie Matcher</h1>
    </header>

    <!-- Main body -->
    <section>
        <section>
            <h2>What genre are you into right now?</h2>
        </section>

        <!-- Genre selector -->
        <section>
            <input type="radio" id="horror" name="generePicker" value="horror">
            <label for="horror">Horror</label>

            <input type="radio" id="romance" name="generePicker" value="romance">
            <label for="romance">Romance</label>

            <input type="radio" id="thriller" name="generePicker" value="thriller">
            <label for="thriller">Thriller</label>

            <input type="radio" id="comedy" name="generePicker" value="comedy">
            <label for="comedy">Comedy</label>

            <input type="radio" id="drama" name="generePicker" value="drama">
            <label for="drama">Drama</label>

            <input type="radio" id="kids" name="generePicker" value="kids">
            <label for="kids">Kids</label>

            <input type="radio" id="action" name="generePicker" value="action">
            <label for="action">Action</label>

            <input type="radio" id="anime" name="generePicker" value="anime">
            <label for="anime">Anime</label>

            <input type="radio" id="family" name="generePicker" value="family">
            <label for="family">Family</label>

            <input type="radio" id="documentary" name="generePicker" value="documentary">
            <label for="documentary">Documentary</label>
        </section>

        <!-- Continue button -->
        <section>
            <button>Continue</button>
        </section>
    </section>

    <footer></footer>
</body>
</html>