<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/styles/moviePage.css">
    <title>Movie Page</title>
</head>

<body>
    <header>

    </header>
    <main>
        <section>
            <h1>Title of the movie</h1>
            <img src="/public/uploads/images/moviePage/pijlwit.png" alt="opgeslagen films bekijken">
            <div class="lijn"></div>
        </section>
        <section>
            <img src="/public/uploads/images/films/cartoon/rick&morty.jpeg" alt="">
            <div class="rating-stars">
                <input type="radio" name="rating" id="rs0" checked><label for="rs0"></label>
                <input type="radio" name="rating" id="rs1"><label for="rs1"></label>
                <input type="radio" name="rating" id="rs2"><label for="rs2"></label>
                <input type="radio" name="rating" id="rs3"><label for="rs3"></label>
                <input type="radio" name="rating" id="rs4"><label for="rs4"></label>
                <input type="radio" name="rating" id="rs5"><label for="rs5"></label>
                <span class="rating-counter"></span>
            </div>
            <h2>Description</h2>
            <p>""Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

        </section>
    </main>

</body>

</html>