<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Matcher</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Matcher</title>
</head>
<body>
    <header>
        <h1>Movie Matcher Result</h1>
    </header>

    <section>
        <section>
            <h2>Here are the top 4  results based on your choices:</h2>
        </section>

        <section>
            <ul class="film-list">
                <li class="film-item">
                    <img src="/public/uploads/images/films/sport/creed-ii-phone-wallpaper.jpeg" alt="Film 1"
                        class="film-image">
                    <figcaption class="film-info">
                        <h3 class="film-title">Film 1</h3>
                        <p class="film-release">Release date: 1 januari 2022</p>
                    </figcaption>
                </li>
                <li class="film-item">
                    <img src="/public/uploads/images/films/cartoon/rick&morty.jpeg" alt="Film 2" class="film-image">
                    <figcaption class="film-info">
                        <h3 class="film-title">Film 2</h3>
                        <p class="film-release">Release date: 15 maart 2022</p>
                    </figcaption>
                </li>
                <li class="film-item">
                    <img src="/public/uploads/images/films/Horror/the-meg-phone-wallpaper.jpeg" alt="Film 3"
                        class="film-image">
                    <figcaption class="film-info">
                        <h3 class="film-title">Film 3</h3>
                        <p class="film-release">Release date: 30 april 2022</p>
                    </figcaption>
                </li>
        </section>

        <section>
            <button>Go back home</button>
        </section>
    </section>

    <footer></footer>
</body>
</html>
</body>
</html>