/*******************/
/* MOVIEMATCHER.CSS */
/*******************/




/* HEADER */
header {
    padding: 0 1.5em;
    height: 7.5em;
    background-color: var(--color-6);
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--color-3);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

header h1 {
    color: var(--color-4);
    font-size: 1.5em;
    font-weight: 600;
    margin: 0 auto;
}




/* NAV */
nav {
    width: 100%;
    height: 5.5em;
    background-color: var(--color-6);
    position: fixed;
    bottom: 0;
    border-top: 2px solid var(--color-3);
    padding: 0 1.5em;
    z-index: 10;
}

nav ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    position: relative;
    display: flex;
    justify-content: center;
}

nav ul li a img {
    width: 1.55em;
    aspect-ratio: 1/1;
}

nav ul li .selected {
    width: .45em;
    aspect-ratio: 1/1;
    background-color: var(--color-2);
    border-radius: 1em;
    position: absolute;
    bottom: -.6em;
}




/* MAIN */
.mainBody {
    padding: 0 1.5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    color: var(--color-4);
    margin-top: 9.5em;
}

.explanationText h2 {
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    margin: 1em 0;
}




/* ROW LIST */
.rowList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    overflow-x: scroll;
    height: 45vh;
    gap: 1em;
}

.rowList li input{
    display: none;
}

.rowList li label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-6);
    color: var(--color-4);
    width: 10em;
    height: 3em;
    border-radius: 0.5em;
    margin: 3px 0px;
    cursor: pointer;
    
}

.rowList li input:checked+label {
    border: 2px solid var(--color-2);
}




/* COLUMN LIST */
.columnList{
    display: flex;
    flex-direction: column;
    list-style: none;
    overflow-x: scroll;
    height: 50vh;
    gap: 1em;
}

.columnList li input{
    display: none;
}

.columnList li label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-6);
    color: var(--color-4);
    width: 80%;
    height: 3em;
    border-radius: 0.5em;
    margin: auto;
    cursor: pointer;
}

.columnList li input:checked+label {
    border: 2px solid var(--color-2);
}




/* MATCHED MOVIES */
.matchedMovie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    background-color: var(--color-6);
    color: var(--color-4);
    height: 15em;
    overflow-y: scroll;
    width: 10em;
    border-radius: 0.5em;
    margin: auto;
    align-self: center;
    cursor: pointer;
}

.matchedMovie img {
    aspect-ratio: 1/2;
    width: 10em;
    height: max-content;
    overflow: hidden;
}




/* NEXT BUTTON */
.nextButton {
    margin: 0 auto;
    background-color: var(--color-2);
    color: var(--color-4);
    width: 100%;
    height: 3.5em;
    border-radius: .4em;
    text-decoration: none;
    cursor: pointer;
    bottom: 7.5em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

.nextButton a, button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-decoration: none;
    text-transform: uppercase;
}

