/* HEADER */
header {
    height: 7.5em;
    background-color: var(--menu-color);
    display: flex;
    align-items: center;
    border-bottom: var(--menu-border);
    padding: 0 1.5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

header h1 {
    color: var(--text-color);
    font-size: 1.5em;
    font-weight: 600;
    margin: 0 auto;
}

.scroll{
    height: 50vh;
    overflow: scroll;
}




/* FOOTER/NAV */
nav {
    width: 100%;
    height: 5.5em;
    background-color: var(--menu-color);
    position: fixed;
    bottom: 0;
    border-top: var(--menu-border);
    padding: 0 1.5em;
    z-index: 10;
}

nav ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    position: relative;
    display: flex;
    justify-content: center;
}

nav ul li a img {
    width: 1.55em;
    aspect-ratio: 1/1;
}

nav ul li .selected {
    width: .45em;
    aspect-ratio: 1/1;
    background-color: var(--button-color);
    border-radius: 1em;
    position: absolute;
    bottom: -.6em;
}



/* MAIN BODY */
.mainBody{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3em;
    color: white;
    margin-top: 8em;
}

.explanationText{
    align-self: center;
    width: 60%;
    font-weight: 100;
}

.explanationText h2{
    text-align: center;
    font-size:medium;
    font-weight: 100;
}




/* ROW LIST */
.rowList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    overflow-x: scroll;
    width: 100%;
    height: 100%;
    gap: 2em;
}

.rowList li input{
    display: none;
}

.rowList li label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0C0C0C;
    color: #fff;
    width: 10em;
    height: 3em;
    border-radius: 0.5em;
    margin: 3px 0px;
    cursor: pointer;
    
}

.rowList li input:checked+label{
    border: 3px solid #6337C1;
}




/* COLUMN LIST */
.columnList{
    display: flex;
    flex-direction: column;
    list-style: none;

    gap: 2em;
}

.columnList li input{
    display: none;
}

.columnList li label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0C0C0C;
    color: #fff;
    width: 80%;
    height: 3em;
    border-radius: 0.5em;
    margin: auto;
    cursor: pointer;
}

.columnList li input:checked+label{
    border: 3px solid #6337C1;
}




/* MATCHED MOVIEs */
.matchedMovie{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    background-color: #0C0C0C;
    color: #fff;
    height: 15em;
    overflow-y: scroll;
    width: 10em;
    border-radius: 0.5em;
    margin: auto;
    align-self: center;
    cursor: pointer;
}

.matchedMovie img{
    height: max-content;
    display: block;
    border-radius: 4px;
}




/* NEXT BUTTON */
.nextButton{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-color: #6337C1;
    color: #fff;
    width: 90%;
    height: 3em;
    border-radius: 0.5em;
    margin: auto;
    text-decoration: none;
    cursor: pointer;
    position: fixed;
    bottom: 7em;
}

.nextButton a{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-decoration: none;
}