/********************/
/* STYLES.CSS */
/********************/




/* FONT */
@font-face {
    font-family: 'Red Hat Display', sans-serif;
    src: url(../fonts/RedHatDisplay-Regular.woff);
}




/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}




/* ALGEMEEN */
body {
    background-color: var(--color-1);
    overflow-x: hidden;
}

a,
button {
    cursor: pointer;
}




/* CUSTOM PROPERTIES */
:root {
    /* colors */
    --color-1: #1A1720;
    --color-2: #6337C1;
    --color-3: #898989;
    --color-4: #FFFFFF;
    --color-5: #B3B3B3;
    --color-6: #0C0C0C;
    --color-7: red;
    --color-8: green;
    --color-9: orange;
    --color-10: yellow;
    --color-11: #3c2177;
}